<!--letakkan kode ARSAE di bawah baris ini-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/vyantagc/vyantagc/popme-style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script type="text/javascript">
    var go_current     	= window.location.href;
    var reff     		= document.referrer;
    function rChoice(arr) {
	    return arr[Math.floor(arr.length * Math.random())];
	}
    var direct_link_ads = rChoice([
                            "https://2e8dgn8n0e0l.com/t6f1z508?key=c0781ad6b5c3eeff525d19b88c213b8f",
                            "https://gadsatz.com/j349kaurn?key=50432a6bf1d3f16f556e401fb18870d5",
                        ]);
    var ars             = rChoice([
                            "https://bigmantova.com",
                        ]);

    var pre_current   = ars + window.location.pathname;
    go_current     		= ars + '/?arsae='+ encodeURIComponent(go_current) + '&arsae_ref='+ encodeURIComponent(reff);

</script>
<script  src="https://cdn.jsdelivr.net/gh/vyantagc/vyantagc/popme-double-ads4.js" ></script>